Node_Red_App.json
[{"id":"aa065b91.1ec608","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f33cc5c.d99614","type":"ui_form","z":"aa065b91.1ec608","name":"","label":"Enter Following Values....","group":"be38627d.146eb","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"number","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status1","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infant","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"prcentage expenditure","value":"per","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hep","type":"number","required":true,"rows":null},{"label":"Measles","value":"mes","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"under","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"total","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"thin1","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thin2","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status1":"","adult":"","infant":"","alcohol":"","per":"","hep":"","mes":"","bmi":"","under":"","polio":"","total":"","dip":"","ha":"","gdp":"","pop":"","thin1":"","thin2":"","income":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":220,"y":200,"wires":[["5e4e02ce.60e44c"]],"icon":"node-red/function.svg"},{"id":"e7ad8a40.e07398","type":"inject","z":"aa065b91.1ec608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["5e4e02ce.60e44c"]]},{"id":"5e4e02ce.60e44c","type":"function","z":"aa065b91.1ec608","name":"","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status1\",msg.payload.status1)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"per\",msg.payload.per)\nglobal.set(\"hep\",msg.payload.hep)\nglobal.set(\"mes\",msg.payload.mes)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total\",msg.payload.total)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin2\",msg.payload.thin2)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey = \"2FIIGIfL_-C3BRcfnqHa8vFR1IT12TxuciZjFaqnyYCC\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["c61cd157.3ae9b"]]},{"id":"c61cd157.3ae9b","type":"http request","z":"aa065b91.1ec608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/oidc/token","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":300,"wires":[["e0ae97e5.e51168"]]},{"id":"e0ae97e5.e51168","type":"function","z":"aa065b91.1ec608","name":"","func":"var token = msg.payload.access_token\nvar instance_id = \"25029da2-3957-4df4-aebb-afdb8c51c0cf\"\nmsg.headers = {\"Content-type\":\"application/json\",\"Authorization\":\"Bearer \"+ token,\"ML-Instance-ID\":instance_id}\nvar v1 = global.get(\"country\")\nvar v2 = global.get(\"year\")\nvar v3 = global.get(\"status1\")\nvar v4 = global.get(\"adult\")\nvar v5 = global.get(\"infant\")\nvar v6 = global.get(\"alcohol\")\nvar v7 = global.get(\"per\")\nvar v8 = global.get(\"hep\")\nvar v9 = global.get(\"mes\")\nvar v10 = global.get(\"bmi\")\nvar v11 = global.get(\"under\")\nvar v12 = global.get(\"polio\")\nvar v13 = global.get(\"total\")\nvar v14 = global.get(\"dip\")\nvar v15 = global.get(\"ha\")\nvar v16 = global.get(\"gdp\")\nvar v17 = global.get(\"pop\")\nvar v18 = global.get(\"thin1\")\nvar v19 = global.get(\"thin2\")\nvar v20 = global.get(\"income\")\nvar v21 = global.get(\"school\")\nmsg.payload ={ \"field\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"prcentage expenditure\",\"Hepatitis B\",\"Measles\",\" BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria \",\"HIV/AIDS\",\"GDP\",\"Population\",\" thinness 1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\" : [[v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21]] } \nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["2873b2bd.60c4ae"]]},{"id":"2873b2bd.60c4ae","type":"http request","z":"aa065b91.1ec608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/25029da2-3957-4df4-aebb-afdb8c51c0cf/deployments/67fca39e-79d1-4c7f-9160-381a89a52ba2/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["5a17a80f.b4db18","8e4cf52b.da9548"]]},{"id":"5a17a80f.b4db18","type":"debug","z":"aa065b91.1ec608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":220,"wires":[]},{"id":"8e4cf52b.da9548","type":"function","z":"aa065b91.1ec608","name":"","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["1ca85e.86df47a2"]]},{"id":"1ca85e.86df47a2","type":"ui_gauge","z":"aa065b91.1ec608","name":"","group":"be38627d.146eb","order":0,"width":0,"height":0,"gtype":"gage","title":"Life Score","label":"Years","format":"{{msg.payload}}","min":0,"max":"130","colors":["#18f231","#18f231","#18f231"],"seg1":"","seg2":"","x":950,"y":320,"wires":[]},{"id":"be38627d.146eb","type":"ui_group","z":"","name":"Measure Your Life Span","tab":"d0d03ca1.313f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"d0d03ca1.313f5","type":"ui_tab","z":"","name":"LifeLine","icon":"dashboard","disabled":false,"hidden":false}]